@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Oswald", sans-serif;
  --font-body: "Plus Jakarta Sans", sans-serif;
}

:root{
  background: #F1E9D6;
}